@font-face {
	font-family: Courier;
	src: url(../Images/Fonts/courier/Courier_Prime.ttf);
}

@font-face {
	font-family: sinkinSans;
	src: url(../Images/Fonts/sinkinSans/SinkinSans-400Regular.otf);
}

@font-face {
	font-family: garamondEB;
	src: url(../Images/Fonts/garamondEB/EBGaramond12-Regular.ttf);
}

@font-face {
	font-family: garamondEBItalic;
	src: url(../Images/Fonts/garamondEB/EBGaramond12-Italic.ttf);
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
}

header{
	width:100%; 
	background:#1d1f20; 
	height:50px; 
	line-height:50px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center; font-family:GaramondEB; letter-spacing: 3px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:12px 0 12px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

#bannerWrapper {
	position: relative;
	width: 100%;
	height: 150px;
	background: 
		linear-gradient(
		rgba(11,20,34,.35), 
		rgba(11,20,34,.35)
		),
		url(../Images/MatterhornQ7Mobile.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#navBarWrapper {
	display: none;
	text-align: center;
	position: relative;
	top: 30px;
}

#navBar {
	position: relative;
	display: inline-block;
	text-align: center;
}

#navBar li:link, #navBar li:visited , #navBar li{
	display: inline;
	padding: 15px;
	margin-left: 15px;
	margin-right: px;
	font-family: sinkinSans;
	font-size: .65em;
	border: 2px solid white;
	color: white;
	-webkit-transition: color .5s linear, background-color .5s ease-in-out;
	-moz-transition: color .5s linear, background-color .5s ease-in-out;
	-o-transition: color .5s linear, background-color .5s ease-in-out;
	transition: color .5s linear, background-color .5s ease-in-out;	
}

#navBar li:hover {
	background-color: white;
	color: rgb(23,18,8);
	-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

#navBar a {
	text-decoration: none;
}

#logo {
	text-align: center;
	position: relative;
	top: 30%;
	font-family: Courier New;
	font-size: 48px;
	color: white;
	text-shadow: 0px 0px 12px rgba(28, 35, 54, 0.81);
}

#jobTitle {
	text-align: center;
	position: relative;
	top: 30%;
	font-family: garamondEBItalic;
	font-size: 18px;
	color: white;	
	text-shadow: 0px 0px 12px rgba(28, 35, 54, 0.81);
}

#myStoryParagraph {
	font-family: sinkinSans;
	font-size: .7em;
	padding: 15px 30px;
	color: rgb(23,28,18);
	line-height: 2.0;
	background-color: #FDFFD1
}

#myWorkWrapper {
	background: 
		linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		),
		url(../Images/photo-1444927714506-8492d94b4e3dM.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: 100%;
		padding-bottom: 25px;
		text-align: center;
}

#sectionHeadersWhite {
	background-color: #FDFFD1;
	color: #272533;
}

.sectionHeaders {
	text-align: center;
	font-family: GaramondEBItalic;
	font-size: 40px;
	padding: 15px 10px 5px 10px;;
	color: white;	
}

@media(max-width:430px){
	.sectionHeaders {
	font-size: 30px;
}
}

.comWrapper {
	position: relative;
	width: 280px;
	height:280px;
	border: 15px white solid;
	padding: 0px;
	display:inline-block;
	text-align: center;
	margin:17px;
}



.bannerAndButtonWrapper {
	position: absolute;
	top: 60%; left: 50%;
	transform: translate(-50%,-50%);
	width: 100%; 
	height: 100%;  
	margin: auto; 
	text-align: center;
	font-family: Courier New;
	color: white;
	z-index: 4;	
}

.bannerAndButtonWrapper h1 {
	position: relative;
	font-size: 1.4em;
	padding: 25px;
}

.maskViewProject1 {
	padding: 10px 15px;
	border: 3px solid white;
	font-family: sinkinSans;
	position: absolute;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}


.bannerAndButtonWrapper a {
	font-size: .7em;
	letter-spacing: 3px;
	text-decoration: none;
	color: white;
}

#UNCSSTALUMNIImg {
	background: url(../Images/MT17Box.png);
	background-size: cover;
}

#UNCSSTALUMNIImgMask {
	background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/MT17Box.png);
	background-size: cover;
}

#boulderBreweryBikeToursImg {
	background: url(../Images/MRObox.png);
	background-size: cover;
}

#boulderBreweryBikeToursImgMask {
	background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/MRObox.png);
	background-size: cover;
	
}
#BRONOLAImg {
	background: url(../Images/TUAutomotiveBox.png);
	background-size: cover;
}

#BRONOLAImgMask {
	background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/TUAutomotiveBox.png);
	background-size: cover;
}

#FPSImg {
	background: url(../Images/FPSBox.png);
	background-size: cover;
}

#FPSImgMask {
	background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/FPSBox.png);
	background-size: cover;
}


#mySkillsWrapper {
	width: 100%;
	text-align: center;
	background-color: #FDFFD1;
}

#mySkillsWrapper img {
	display: inline-block;
	text-align: center;
	height: 200px;
	width: 200px;
	margin: 10px;	
}

.fullResumeWrapper{
	background-color: #0B1422;
	width:100%;
}

#resumeButton {
	border: 3px solid white;
	font-family: sinkinSans;
	text-align: center;
	padding: 10px 15px;
	letter-spacing: 3px;
	display: block; 
	font-size: .7em;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	background: #0B1422;
	margin-bottom: 40px;
	margin-top: 40px;
	color: white;
}

#resumeButtonMask {
	border: 3px solid white;
	font-family: sinkinSans;
	text-align: center;
	padding: 10px 15px; 
	letter-spacing: 3px;
	font-size: .7em;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	background-color: white;
	color: #0B1422;
	display: none;
	margin-bottom: 40px;
	margin-top: 40px;
}

#resumeButton a {
	text-decoration: none;
}

#resumeButtonMask a {
	text-decoration: none;
}

#resumeDropDown {
    max-width: 100%;
    /* width: 100%; */
    /* left: 10%; */
    position: relative;
    background: #0B1422;
}

@media(min-width:1200px){

}

#resumeDropDown img {
	width: 100%;
	border:1px solid black;
	max-width:1200px;
}

#contactWrapper {
	background: linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		);
	background-size: cover;
	width: 100%;
	position: relative;
	z-index: 4;
	
}

#contactHeader {
	position: absolute;
	margin: auto;
	left: 50%;
	margin-left: -86px;
	display: none;
}

#contactWrapper img {
	width: 100%;
}

#contactInfoWrapper {
	position: absolute;
	top: 15%;
	right: 1%;
	width: 220px;
	font-family: Courier New;
	font-size: .8em;
	color: white;
	text-align: center;	
}

#contactInfoWrapper a {
	text-decoration: none;
	color: white;
}

.phoneIcon {
	width: 30px;
	height: 30px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
}

.phoneIcon img {
	width: 100%;
}

#hireMe {
	position: relative;
	font-size: 2em;
	font-family: GaramondEBItalic;
	background: rgb(11,20,34);
	color: white;
	width: 100%;
	top:-1px;
	text-align: center;
	padding-bottom: 30px;
}

#hireMe h2{
	padding: 15px;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
}

#hireMe a {
	padding: 10px 15px;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	margin-top: 30px;
	text-align: center;
	font-family: sinkinSans;
	letter-spacing: 3px;
	font-size: .4em;	
	-webkit-transition: color .5s linear, background-color .5s ease-in-out;
	-moz-transition: color .5s linear, background-color .5s ease-in-out;
	-o-transition: color .5s linear, background-color .5s ease-in-out;
	transition: color .5s linear, background-color .5s ease-in-out;
}

#hireMe a:hover {
	background-color: white;
	color: rgb(23,18,8);
	-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
	transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

#bottomBanner {
	background: linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		),
		url("../Images/11941231_10156002485990173_2619962493152530293_nM.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	top:-1px;
	text-align: center;
	color: white;
	font-size: .9em;
}

#bottomBanner h1 {
	font-size: 60px;
	font-family: Courier New;
}

#bottomBanner h3 {
	font-size: .9em;
	color: white;
}

#bottomBanner a {
	display: inline-block;
	text-decoration: none;
	font-family: sinkinSans;
	letter-spacing: 2px;
	text-align: center;
	color: grey;
	font-size: .8em;
	margin: 5px;
}

#bottomBanner a:hover {
	color: white;
}

#bottomBanner img {
	height: 35px;
	display: inline-block;
	text-align: center;
	margin: 4px;
}

/*///////////////////////////
MEDIA QUERIES
//////////////////////////*/

@media screen and (min-width: 430px) {
    #bannerWrapper {
       height: 250px;
    }
	
	#logo {
		top: 35%;
		font-size: 85px;

	}
	
	#jobTitle {
		top: 36%;
		font-size: 28px;
	}
	
	#contactInfoWrapper {
		width: 350px;
		top: 25%;
		font-size: 1em;
	}
	
	#bannerWrapper {
		background: 
		linear-gradient(
		rgba(11,20,34,.35), 
		rgba(11,20,34,.35)
		),
		url(../Images/MatterhornQ7.jpg);
		background-size: cover;
		background-position: center;
		
	}
	#myWorkWrapper {
		background: 
		linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		),
		url(../Images/photo-1444927714506-8492d94b4e3d.jpg);
		background-position: center;
	}
	
	#UNCSSTALUMNIImg {
		background: url(../Images/MT17Box.png);
		background-size: cover;
	}
	
	#UNCSSTALUMNIImgMask {
		background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/MT17Box.png);
	background-size: cover;
		
	}
	
	#BRONOLAImg {
	background: url(../Images/TUAutomotiveBox.png);
	background-size: cover;
}

#BRONOLAImgMask {
	background: linear-gradient(rgba(23,18,8,.8),
		rgba(23,18,8,.8)),
	url(../Images/TUAutomotiveBox.png);
	background-size: cover;
}

#MountainImg {
	background: url(../Images/photo-1431203488627-64527eb86dd9.jpg);
	background-size: cover;
}

#MountainImgMask {
	background: linear-gradient(rgba(23,18,8,.6),
		rgba(23,18,8,.6)),
	url(../Images/photo-1431203488627-64527eb86dd9.jpg);
	background-size: cover;
}
#bottomBanner {
	background: linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		),
		url("../Images/11941231_10156002485990173_2619962493152530293_n.jpg");
}
}

@media screen and (min-width: 700px) {
   #bannerWrapper {
       height: 430px;
    }
	
	#contactHeader {
		display: initial;
	}
}

@media screen and (min-width: 1025px) {
 .bannerAndButtonWrapper {
	 display: none;
	}

	
#UNCSSTALUMNIImgMask {
	display: none;	
}

#BRONOLAImgMask {
display: none;
}

#MountainImgMask {
display: none;
}

#contactInfoWrapper {
		right: 10%;
		font-size: 1.3em;
		width: 400px;
}
	
.phoneIcon {
	height: 45px;
	width: 45px;	
}

#navBarWrapper{
	display: initial;
}

header {
	display: none;
}

#bannerWrapper {
       height: 650px;
}

#bottomBanner {
	background: linear-gradient(
		rgba(11,20,34,.6), 
		rgba(11,20,34,.6)
		),url("../Images/photo-1443986870756-31166604c63c.jpg");
	background-size: cover;
}
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
}

/* Tooltip text */
.tooltip .tooltiptext {

    opacity: 0;
    width: 120px;
    background-color: #272533;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    font-family: Courier New;
    transition: all 0.5s ease 0s;
      /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 97%;
    left: 50%; 
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	opacity:1;
}

.resumeSection{
padding: 3% 8% 10%;
}

.fullResumeWrapper > .resumeSection > #resume{
	margin-top: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    height: initial;
    width: 100%;
    margin: 0px;
}

@media(max-width:355px){
	.comWrapper{
		width:257px;
		height:257px;
	}
}

.myStoryParagraphWrapper{
	width:100%;
	background-color: #FDFFD1;
}

#myStoryParagraph{
	max-width: 1320px;
	margin:auto;
}