
body {
color: white;
text-align: left;
font-family: courier;
padding: 20px;
background-image: url('../HTML/bikebackground.jpg');
background-size: contain;
background-repeat: none;
}

#subm {
	 background: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -moz-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -ms-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -o-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: linear-gradient(to bottom, #dbdbdb, #6cacd4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	
}

#subm:hover {
	
	background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

h1 {
	font-size: 3em;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 600;
	
}
h2 {
	font-size: 1.3em;
	padding-left: 25px;
	padding-right: 130px;
	font-weight: 600;
	
}
h3 {
	padding:20px;
	font-weight: 600;
	font-size: 1.0em;
	background-color: grey;
	position: relative;
	top: 20px;
}
form {
	font-weight: 600;
	font-size: 1.5em;
	text-align: left;
	
}
.routes {
	
	display: none;
	position: absolute;
}
.droutes {
	padding: 25px;
	display: none;
	background: rgba(17,17,17,1);
background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(76,76,76,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,17,17,1)), color-stop(100%, rgba(76,76,76,1)));
background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(76,76,76,1) 100%);
background: -o-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(76,76,76,1) 100%);
background: -ms-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(76,76,76,1) 100%);
background: linear-gradient(to right, rgba(17,17,17,1) 0%, rgba(76,76,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#4c4c4c', GradientType=1 );
}
#map {
	background-image: url("../HTML/mapbikepedestrianroutes1201407111617_7cbc1daf-ec39-47fb-9cf8-af8ad89c40d6.jpg");
	background-size: cover;
	width: 1412px;
	height: 688px;
	text-align: center;
	margin: auto;
	border: 10px solid white;
	
}
.bottomButtons {
	 background: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -moz-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -ms-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: -o-linear-gradient(top, #dbdbdb, #6cacd4);
  background-image: linear-gradient(to bottom, #dbdbdb, #6cacd4);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  position: relative;
  top: 35px;
	
}
.bottomButtons:hover {background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  text-align: center;
  margin: auto;
    position: relative;
  top: 35px;
  }
